{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ current_object.name }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- HEADER -->
    <div class="flex justify-center gap-10 p-5 bg-[#262626]">
        <div class="max-w-7xl flex-1 flex justify-between gap-10">
            <div class="flex items-center flex-start">
                <a href="./index.html">
                    <img
                        class="cursor-pointer object-contain"
                        src="./img/Omega-art-logo-white.png"
                        height="100px"
                        width="100px"
                    />
                </a>
            </div>
            <div class="flex cursor-pointer item-center space-x-4 text-white">
                <div class="flex ml-[7rem]">
                    <a href="/index.html"><div class="py-2 px-4">Main</div></a>
                    {% if user.is_authenticated %}
                          {% if user.is_staff %}
                    <a href="/addPage.html"><div class="py-2 px-4">Add</div></a>
                    <a href="/admin/"></a><div class="py-2 px-4">Admin</div>
                    {% endif %}
                    <a href="/profile.html"><div class="py-2 px-4">Profile</div></a>
                    
                </div>
            </div>
            <div class="flex cursor-pointer item-center space-x-4 text-white">
                {% else %}
                <a href="/login.html"><div class="py-2 px-4">Log In</div></a>
                <a href="/registration.html"><div class="bg-black py-2 px-4 rounded-full">Register</div></a>
            </div>
        </div>
    </div>
    <!-- HEADER END -->
    <!-- PAGE -->
    <div class="flex justify-center h-100%">
        <div class="bg-[#4f4f4f] w-3/4 h-screen justify-center">
            <img src="./img/img6.jpg" class="mx-auto translate-y-1/2 max-w-screen-sm">
        </div>
        <div class="bg-[#c9c9c9] w-1/4 h-screen flex flex-col">
            <div class="border-b-black text-center p-10 pt-[150px] text-3xl"><h1>{{ current_object.name }}</h1></div>
            <div class="p-10 pt-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
            </div>
            {% if user.is_authenticated %}
            <button class="w-1/2 h-8 bg-[#009929] text-center mx-auto rounded-full" href="{{ current_object.img.url }}">Download</button>
            {% else %}
            <p>For download the picture you have to be a logged in</p>
            <a href="/login/">Login</a>
            {% endif %}
            {% if user.is_staff %}
            <a class="w-1/2 h-8 bg-[#009929] text-center mx-auto rounded-full" href="/art/delete/{{ current_object.pk }}/">Delete object</a>
            {% endif %}
        </div>
    </div>
    <!-- PAGE END -->
</body>
</html>